<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BMS_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Bms_C</display-name>
    <servlet-name>Bms_C</servlet-name>
    <servlet-class>bms_p.Bms_C</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bms_C</servlet-name>
    <url-pattern>/Bms_C</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Choose_user</display-name>
    <servlet-name>Choose_user</servlet-name>
    <servlet-class>UserType.Choose_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Choose_user</servlet-name>
    <url-pattern>/Choose_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonorsList</display-name>
    <servlet-name>DonorsList</servlet-name>
    <servlet-class>DonorsList.DonorsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonorsList</servlet-name>
    <url-pattern>/DonorsList</url-pattern>
  </servlet-mapping>
</web-app>