@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif; */
  font-family: "Poppins", sans-serif;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.logo {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.logo-icon {
  width: 2.3rem;
  object-fit: contain;
}

.logo-text {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
}

.nav-item-links {
  color: #ff0000;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s ease;
  width: 1rem;
}

.nav-item-links:hover {
  color: #fff;
  background-color: #ff0000;
  width: 3rem;
  height: 1rem;
  border-radius: 20px;
  
}

.header-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: none;
  z-index: 1000;
  /* Ensure the header is above other content */
  backdrop-filter: blur(40px);
}


.header-container {
  padding: 0 2rem;
  height: fit-content;
}

.nav-bar {
  width: 100%;
  height: 5rem;
  max-width: 86vw;
  margin: 1.8rem auto;
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-radius: 0.8rem;
  background-color: #fff; /* Changed background color to white */
  box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
}

.nav-links {
  display: flex;
  gap: 2rem;
  
}

.toggle-btn {
  color: #fff;
  display: none;
  font-size: 1.5rem;
}

.header-btn {
  background-color: #FF0000;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}

.header-btn:hover {
  scale: 1.05;
  color: #fff;
  background-color: #b40000;
}

.header-btn:active {
  scale: 0.95;
}

/* Drop down menu style */
.header-drop-down {
  position: absolute;
  right: 2.2rem;
  top: 114px;
  height: 0;
  width: 300px;
  background-color: #333333;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  overflow: hidden;
  display: none;
  transition: height 0.6s ease;

}

.header-drop-down.open {
  height: fit-content;
}

.header-drop-down li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-drop-down li a {
  color: #fff;
}

.header-drop-down .header-btn {
  width: 100%;
  background-color: #fff;
  color: #333333;
}


/* -------------------------------------------------------------------------------------------------------------- */

/* vision section */
.big-feature-section {
  margin-top: 10rem;
}

.big-feature-container {
  max-width: 84vw;
  margin: 0 auto;
  display: flex;
  margin-top: 4rem;
}

.feature-image,
.feature-content-box {
  max-width: 50%;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.feature-image img {
  max-width: 80%;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}

.feature-image-2 {
  order: 2;
}

.feature-content-box-1 {
  order: 1;
}

.feature-text {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem 0;
  max-width: 100%;
}

.sub-title {
  font-size: 0.956rem;
  font-weight: 600;
  color: #fb8155;
}

.feature-title {
  font-size: 3rem;
  font-weight: 600;
  color: #454545;
}

.feature-para {
  font-size: 1rem;
}

/* ------------------------------------------------------------------------------------------------------------ */

/* hero section styling starts here */

.hero-section {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  z-index: 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 84vw;
  padding: 0.6rem;
  align-items: center;
  /* border: 1px solid black; */
}

.left-container {
  text-align: center;
  opacity: 0;
  animation: slideLeft 1.5s ease forwards;
  /* border: 1px solid darkmagenta; */
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.hero-heading {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 700;
}

.subheading-hero {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--dark-gray);
  padding: 1.2rem;
}

.hero-btn {
  background: none;
  padding: 0.9rem 1.1rem;
  border: 2px solid #b30000;
  color: #b30000;
  cursor: pointer;
  transform: color 1s ease;
  margin-top: 1.3rem;
  font-weight: 500;
  border-radius: 0.3rem;
}

.hero-btn:hover {
  background-color: #b30000;
  color: white;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: slideRight 1.5s ease forwards;
  /* border: 1px solid red; */
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


.hero-img-container {

  overflow: hidden;
  box-shadow: 0px 4px 8px rgna(0, 0, 0, 0.1);
  height: 32vh;
  /* border: 1px solid green; */

}

.hero-image {
  height: 100%;
  border-radius: 20px;

}

@media screen and (min-width: 427px) {
  .hero-heading {
    font-size: 1.6rem;
  }

  .subheading-hero {
    font-size: 0.9rem;
  }

  .hero-img-container {
    height: 37vh;
  }
}


@media screen and (min-width: 693px) {
  .hero-container {
    flex-direction: row;
    padding: 0;
  }

  .left-container {
    text-align: start;
    max-width: 55%;
  }

  .hero-heading {
    font-size: 1.9rem;
  }

  .subheading-hero {
    font-size: 0.97rem;
    padding: 2rem 0;
    width: 75%;
  }

  .hero-img-container {
    height: 48vh;
  }
}

@media screen and (min-width: 898px) {
  .hero-heading {
    font-size: 2rem;
  }

  .subheading-hero {
    font-size: 1rem;
  }

  .hero-img-container {
    height: 57vh;
  }
}

@media screen and (min-width:1000px) {
  .hero-heading {
    font-size: 2.4rem;
  }

  .subheading-hero {
    font-weight: 1.1rem;
  }

  .hero-img-container {
    height: 65vh;
  }
}

@media screen and (min-width: 1178px) {
  .hero-container {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .left-container {
    text-align: left;
    max-width: 60%;
  }

  .hero-heading {
    font-size: 2.8rem;
    /* width: 80%; */
    padding-right: 2.5rem;
    font-weight: 700;
  }

  .subheading-hero {
    font-size: 1.1rem;
    padding-left: 0;
    width: 55%;
  }

  .hero-img-container {
    height: 68vh;
  }
}
/* ---------------------------------------------------------------------------------------------------------- */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.why-choose-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 1200px;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.image {
  flex: 0 0 40%;
  margin-left: 80px;
  /* Adjust margin to move image to the right */
}

.image img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.5);
}

.content {
  flex: 0 0 60%;
}

.main-heading {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

.sub-heading {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.reasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reason {
  flex: 0 0 47%;
  margin-bottom: 20px;
  text-align: center;
  height: 20rem;
  padding-top: 2.5rem;
  border-radius: 0.7rem;
  border-bottom: 5px solid #b30000;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
  cursor: pointer;
}

.reason img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
  color: #FF4500;
}

.reason h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.reason p {
  font-size: 1rem;
  color: #666;
}

/* footer style code */
.footer-section {
  height: 35vh;
  background-color: rgb(13, 13, 13);
  padding: 3rem 0;
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.footer-container {
  width: 84vw;
  /* display: flex; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem 0;
}

.footer-contact-title {
  color: red;;
  font-size: 1.3rem;
  font-weight: 600;
}

.footer-contact-detail {
  display: flex;
  gap: 0 1rem;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.footer-copyright-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}

.copyright-icon-box {
  color: #fff;
  font-size: 1.2rem;
}

.copyright {
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
}

.copyright span {
  color: red;
}
/* ------------------------------------------------------------------------------------------------------------------------ */

/* Service page styling */


.our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem 0;
  margin-top: 6rem;
}

.our-service-title-box {
  margin-top: 3.5rem;
}

.our-service-title-box {
  width: 84vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem 0;
  padding: 1rem 1.1rem;
  color: var(--text-color);
}

.our-service-heading {
  font-size: 2.1rem;
  font-weight: 700;
}

.our-service-heading span {
  color: var(--orange);
}

.our-service-subheading {
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray);
}

.our-service-para {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--dark-gray);
}

@media screen and (min-width:600px) {

  .our-service-heading-box,
  .our-service-para-box {
    max-width: 60%;
  }

  .our-service-subheading-box {
    max-width: 30%;
  }
}

.sap-basis {
  width: 84vw;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}

.sap-basis-title-box {
  text-align: center;
}

.sap-basis-cards-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 2rem 1rem;
  justify-items: center;
}

.our-service-cards {
  box-shadow: none;
  background: none;
  height: 22rem;
}

.our-service-cards:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
}

.our-service-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
}

.Additional-services {
  justify-content: center;
  margin-bottom: 3rem;
}

.sap-basis-cards-box1{
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  gap: 2rem 1rem;
}


/* ------------------------------------------------------------------------------------------------------------ */

/* contact page styling */

/* Contact Page Container */
.Contact-Page-Container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
  padding: 0 1rem; /* Add padding for better spacing on small screens */
}

/* Contact Page Sub-Container */
.Contact-Page-Sub-Container {
  width: 100%; /* Adjust width for smaller screens */
  max-width: 30rem; /* Add max-width for larger screens */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  overflow: hidden; /* Hide overflow content */
}

/* Title Styling */
.contact-us-title {
  font-size: 2rem; /* Adjust font size for smaller screens */
  font-weight: 700;
  color: #fff;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
  text-align: center; /* Center align for smaller screens */
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

/* Input and Textarea Styling */
input,
textarea {
  padding: 0.625rem;
  margin-bottom: 0.9375rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  width: 100%;
  box-sizing: border-box;
  background: none;
  border: none;
  border-bottom: 2px solid var(--link-text-color);
}

/* Textarea Styling */
/* Textarea Styling */
textarea {
  min-height: 50px; /* Set minimum height for the textarea */
  max-height: 200px; /* Set maximum height for the textarea */
  resize: vertical; /* Allow vertical resizing */
}

/* Button Styling */
button {
  padding: 0.625rem 1.25rem;
  background-color: rgb(255, 90, 30);
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

/* Hover Styling */
button:hover {
  background-color: orange;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .Contact-Page-Sub-Container {
    max-width: 30rem; /* Adjust width for smaller screens */
  }
}


/* ---------------------------------------------------------------------------------------------- */


/* about page style */


/* Main Content Area */
.main-containent-Area {
  width: full;
  margin-top: 12rem;
  height: fit-content;
  display: flex;
}

.mca-content{
  width: auto;
  padding-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sub Container */
.mca-sub-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  animation: slideRight 3s ease forwards;
  margin-right: 10%;
  margin-top: 4%;
  /*align-items: center;*/
}

/* Sub Container Heading */
.mca-sub-container-heading {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  text-wrap: balance;
  font-size: 15px;
  color: #b30000;
}

/* Sub Container Paragraph */
#mca-sub-container-para {
  width: 100%;
  text-align: center;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  text-wrap: balance;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
}

.image-container {
  width: 50%;
}

.image-container img {
  max-width: 70%;
  height: auto;
  margin-left: 30%;
  border-radius: 15px;
  animation: slideLeft 3s ease forwards;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Main Content Area */
/* Whole Main Content Area */
.wmud-Container {
  margin-top: 80px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* WMUD Sub Container Heading */
#wmud-Sub-Container-Heading {
  text-align: center;
  font-size: 29px;
  font-weight: 600;
}

/* Cards Container */
.Cards-Container {
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
}

/* Card Container */
.Card-Container {
  border-radius: 8px;
  width: 400px;
  height: auto;
  border-bottom: 5px solid #b30000;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

/* Card Heading */
#card-heading {
  font-size: 22px;
  font-weight: 600;
}

/* Card Paragraph */
#card-paragraph {
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(63, 63, 64);
  text-wrap: balance;
}

/* Other Container */
/* Quality Line Heading */
.quality-line-Heading {
  font-size: 20px;
  font-weight: 650;
  text-align: center;
}

/* BEHC Container */
.BEHC-Container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  /* width: 90%; */
}

/* BEHC Qualities Container */
.BEHC-Qualities-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

/* BEHC Heading */
#BEHC-Heading {
  font-weight: 600;
}

/* BEHC Qualities */
.BEHC-Qualities {
  width: 50%;
  margin: 10px;
  padding: 20px;
  border-bottom: 5px solid #ff4500;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
  border-radius: 10px;
  text-align: center;
}

/* Quality Line Props */
#quality-line-props {
  color: #333333;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}
rgb(255, 0, 0)
/* BEHC Quality Bottom Line */
.BEHC-Quality-Bottom-Line {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BEHC Qualities Sub Container */
.BEHC-Qualities-Sub-Container {
  display: flex;
}

/* Bottom Line Props */
#Bottom-Line-Props {
  width: 70%;
  font-size: 12px;
  text-align: center;
  text-wrap: pretty;
  color: rgb(34, 34, 34);
  font-weight: 600;
}

/* Other Container */

@media only screen and (max-width: 770px) {

  /* Navigation */
  .Nav-Heading-Main-Heading {
    padding-left: 10px;
    cursor: pointer;
  }

  /* Navigation-Icon-List */
  .Nav-Heading-Icon-Tray {
    display: none;
  }

  /* Navigation Burger Icon */
  .Nav-Burger-Icon {
    display: block;
    padding-right: 10px;
    font-size: 25px;
    cursor: pointer;
  }

  /* Main Container */
  .main-containent-Area {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  /* Sub Container Heading */
  .mca-sub-container-heading {
    max-width: 100%;
    padding: 0 10px;
    font-size: 10px;
  }

  .mca-sub-container{
    margin-left: 20%;
  
  }
  .mca-content{

    width: auto;
  }

  /* Sub Container Paragraph */
  #mca-sub-container-para {
    max-width: auto;
    padding: 8px;
    text-wrap: auto;
    font-size: 15px;
    line-height: 18px;
  }

  .image-container {
    width: 25rem;
    /* Occupy full width */
    margin: 0 auto;
    /* Center the image horizontally */
  }

  .image-container img {
    max-width: 100%;
    /* Ensure image does not exceed container width */
    margin-left: 0;
    /* Remove left margin */
    margin-bottom: 20px;
    /* Add some space between the image and text */
  }

  /* Sub Container Heading */
  #wmud-Sub-Container-Heading {
    font-size: 25px;
  }


  /* Cards Container */
  .Cards-Container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* Card Container */
  .Card-Container {
    width: 100%;
    margin: 0 10px;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
  }

  /* Card Heading */
  #card-heading {
    font-size: 18px;
  }

  /* Beyond Experience Highlight */
  .BEHC-Qualities-Sub-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Beyond Experience Highlight Container */
  .BEHC-Qualities-Container {
    height: auto;
    width: auto;
    display: flex;
    padding: 0;
    margin-left: 25px;
    margin-right: 25px;

  }

  /* Beyond Experience Highlight Card */
  .BEHC-Qualities {
    width: 80%;
    background-color: #e7e5e5;
    margin: 10px;
  }

  /* Beyond Experience Highlight Heading */
  #BEHC-Heading {
    font-size: 19px;
  }

  /* Quality Line Props */
  #quality-line-props {
    font-size: 12px;
    padding: 5px;
  }

  /* Quality Bottom Line */
  .BEHC-Quality-Bottom-Line {
    padding: 0 10px;
  }

  /* Bottom Line Props */
  #Bottom-Line-Props {
    font-size: 12px;
  }
}